/* IE 및 Edge에서 스크롤바 숨김 */
.scrollbar-hide {
    -ms-overflow-style: none;
}

/* Firefox에서 스크롤바 숨김 */
.scrollbar-hide {
    scrollbar-width: none;
}

/* Chrome, Safari, Opera에서 스크롤바 숨김 */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

@keyframes shake {
    0%,
    100% {
        transform: translateY(0);
    }
    20%,
    60% {
        transform: translateY(-5px);
    }
    40%,
    80% {
        transform: translateY(5px);
    }
}

.animate-shake {
    display: inline-block;
    animation: shake 2.5s ease-in-out infinite;
}
